/* .container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    margin-top: 0;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 0;
} */